.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* nav */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  /*height: 64px;*/
  z-index: 5;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  color: #000;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

/*.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 8px 20px;
  text-decoration: none;
}*/

.header-link {
  cursor: pointer;
  display: block;
  float: left;
  font-size: 2em;
  padding: 9px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}



a.logo {
  color: #fff;
  background-color: #7978D9;
  text-decoration: none;
}

.fa-twitter {
  color: #fff;
}

.fa-facebook {
  color: #fff;
}

.link-twitter {
  display: none;
  background-color: #1dcaff;
  width: 70px;
  float: right;
}

.link-facebook {
  display: none;
  background-color: #3B5998;
  width: 70px;
  float: right;
}

.mbs-search-box {
  display: none;
  margin-top: 18px;
  margin-right: 25px;
  float: right;
}

.mbs-search {
  border: none; 
  color: #000;
}

.mbs-search::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
.mbs-search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
.mbs-search::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
.mbs-search:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000;
}
.mbs-search::-ms-input-placeholder { /* Microsoft Edge */
   color:    #000;
}

.mbs-search-submit {
  border:none;
  background-color: inherit;
}

button.mbs-search-submit:focus{
    outline: none;
}

input.mbs-search:focus{
    outline: none;
}

.carousel-caption {
  top: 30%;
}

.caption-heading {
  margin-bottom: 25px;
}

.carousel-tint {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(121, 120, 217, 1); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgb(93, 248, 240), rgba(121, 120, 217, 0.7) 60%,rgba(121, 120, 217, 1) 90% ,rgba(121, 120, 217, 1) 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(93, 248, 240), rgba(121, 120, 217, 0.7) 60%,rgba(121, 120, 217, 1) 90% ,rgba(121, 120, 217, 1) 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(93, 248, 240), rgba(121, 120, 217, 0.7) 60%,rgba(121, 120, 217, 1) 90% ,rgba(121, 120, 217, 1) 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(93, 248, 240), rgba(121, 120, 217, 0.7) 60%,rgba(121, 120, 217, 1) 90% ,rgba(121, 120, 217, 1) 100%); /* Standard syntax */
}

#about-us {
  margin-top: -1px;
  padding-top: 15px;
  padding-bottom: 200px;
  /*height: 80vh;*/
  background-color: rgb(121, 120, 217);
}

.about-message-heading p,
.about-message-heading hr {
  display: inline-block;
}

.about-message-heading p {
  color: #fff;
}
.about-message-heading hr {
  width: 105px;
  position: relative;
  top: 5px;
  margin-right: 20px;
  border-color: #fff;
}

.about-message-body {
  margin-top: 25px;
  margin-bottom: 35px;
}

.about-message-body p {
  color: #7CD4CE;
}

.btn-mbs {
  color: #fff;
  font-size: 1.1em;
  text-decoration: none;
  padding: 12px 25px;
  border: 2px solid #fff;
  border-radius: 35px;
  background-color: inherit;
}

.btn-mbs:hover {
  background-color: #fff;
  color: rgb(121, 120, 217);
  transition: background-color 0.5s;
  /*transition: color 0.5s;*/
  text-decoration: none;
}

#about-us .col-md-6:first-child {
  margin-bottom: 60px;
}

.embed-responsive {
  margin-top: 10px;
  border-radius: 30px;
  overflow: hidden;
}

.img-showcase {
  position: relative;
  /*margin-top: -50px;*/
}

.img-showcase .col-md-3 {
  margin-bottom: 50px;
}

.hover-tint {
  position: absolute;
  color: #fff;
  opacity: 0;
  z-index: 3;
  margin: 5% 10%;
  /*background-color: rgba(93, 248, 240, 0.8);*/
  background-color: rgba(121, 120, 217, 0.7);
  /*border: 3px solid #fff;*/
  height: 80%;
  width: 80%;
  transition: all 1s ease;
}

.hover-tint h2 {
  position: relative;
  font-size: 2em;
  top: 30%;
  margin-left: 10px;
}

.hover-box {
  position: relative;
  top: -60px;
  overflow: hidden;
}

.image {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}

.btn-learn-m {
  cursor: pointer;
  display: inline-block;
  background-color: inherit;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 25%;
  padding: 2px 15px;
}

.btn-learn-m:hover {
  background-color: #fff;
  text-decoration: none;
  color: rgb(121, 120, 217);
}

#news {
  background-color: rgba(93, 248, 240, 0.2);
}

.slick-slider {
  width: 100%;
}

.slick-slide { 
 outline: none; 
}

.news-item {
  /*width: 200px;*/
  position: relative;
  height: 250px;
  background-color: #fff;
  margin: 15px;
  padding: 15px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}

.news-item__heading p {
  color: rgba(0,0,0,0.6);
  font-size: 1.3em;
}

.news-item__details {
  margin-top: -8px;
}

.news-item__date p {
  font-size: 0.8em;
  margin-bottom: 0;
  padding: 0 5px;
}

.news-item__date {
  display: inline-block;
  border-radius: 10px;
  background-color: rgba(93, 248, 240, 0.2);
}

.news-item__category {
  display: inline-block;
  margin-left: 5px;
  text-transform: uppercase;
  font-size: 0.8em;
}

.news-item__category a {
  outline: none;
  text-decoration: none;
  color: inherit;
  transition: all 0.5s;
}

.news-item__category a:hover {
  color: #7CD4CE;
}

.news-separator {
  margin-top: 0px;
  display: inline-block;
  width: 60px;
  border-top: 4px solid #7CD4CE;
}

.news-read {
  color: #7978D9;
  display: block;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.news-read:hover {
  text-decoration: none;
}

.news-read i {
  color: #7CD4CE;
}

.mbs-buttons {
  display: inline-block;
  margin: 0 auto;
}

.mbs-buttons button {
  background-color: inherit;
  border: none;
  color: #7978D9;
  font-size: 1.3em;
  margin-right: 15px;
}

.mbs-buttons button:focus {
  outline: none;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
    color: #000;
  }
  .header .menu {
    clear: none;
    float: left;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .link-facebook,
  .link-twitter {
    display: block;
  }
  /*.img-showcase {
    margin-top: -60px;
  }*/
  .hover-tint h2 {
    font-size: 1em;
  }
}

@media (min-width: 952px) {
  .mbs-search-box {
    display: inline-block;
  }
  .carousel-caption {
    top: 35%;
  }
  
}

@media (min-width: 992px) {
  .hover-tint h2 {
    font-size: 1.5em;
  }
}


@media (min-width: 1129px) {
  .carousel-item {
    height: 100vh;
  }
  /*.img-showcase {
    margin-top: -60px;
  }*/
}